{% extends 'hospitaltemplete1.html' %}
<body>
{% block m1 %}
{% if data %}
<div class="container-fluid">
<h2>Hospital Profile</h2>
  <table class="table table-striped table-bordered " style="width:100%">
     <thead class="thead thead-dark">
        <tr>
          <th>Name</th>
          <th>Specility</th>
          <th>Address</th>
          <th>Contacts</th>
          <th>Ac_Beds</th>
          <th>Non_ac_beds</th>
          <th>Email</th>
        </tr>
     </thead>

     <tbody>
        <tr>
           <td>{{ data[0] }}</td>
           <td>{{ data[1] }}</td>
           <td>{{ data[2] }}</td>
           <td>{{ data[3] }}</td>
           <td>{{ data[4] }}</td>
            <td>{{ data[5] }}</td>
            <td>{{ data[6] }}</td>
        </tr>
     </tbody>
  </table>
</div>
{% elif msg %}
<h1>{{ msg }}</h1>
{% endif %}
{% endblock %}
</body>