{% extends 'hospitaltemplete1.html' %}
<body>
{% block m1 %}
{% if data %}
<div class="container-fluid">
<h2>View Doctors</h2>
  <table class="table table-striped table-bordered">
     <thead class="thead thead-dark">
        <tr>
          <th>Name</th>
          <th>specility</th>
          <th>Timing</th>
          <th>Experince</th>
          <th>Days</th>
            <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
     </thead>
      {% for k in data %}
     <tbody>
        <tr>
           <td>{{ k[0] }}</td>
           <td>{{ k[1] }}</td>
           <td>{{ k[2] }}</td>
           <td>{{ k[3] }}</td>
           <td>{{ k[4] }}</td>
            <td>{{ k[5] }}</td>
           <td> <form method="post" action="editdoctor">
                <input type="hidden" name="E1" value="{{ k[5]}}">
                <input type="submit" value="Edit doctor">
                </form></td>
            <td><form method="post" action="deletedoctor">
                <input type="hidden" name="D1" value="{{ k[5] }}">
                <input type="submit" value="Delete Doctor">
                </form></td>
        </tr>
     </tbody>
      {% endfor %}
  </table>
</div>
{% elif msg %}
<h3>{{ msg }}</h3>
{% endif %}
{% endblock %}
</body>
